@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  font: 16px / 1 sans-serif;
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(10, 10, 10);
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 14rem;
}

.top-half {
  display: flex;
  flex-direction: column;
  background-color: rgb(1, 10, 19);
  width: 56.4rem;
  position: absolute;
  /* left: 18.28rem; */
  margin-top: -1rem;
}

.top-header {
  display: flex;
  flex-direction: column;
  background-image: url(./images/space.png);
}

.pic-and-speech-bubble {
  display: flex;
}

.speech-bubble {
  display: flex;
  flex-direction: column;
  width: 23rem;
  height: 5rem;
  top: 1rem;
  right: 1.5rem;
  border-radius: 0.3rem;
  color: rgb(34, 32, 32);
  background-color: rgba(255, 255, 255, 0.753);
  line-height: 0;
  opacity: 0.8;
  position: relative;
}

.speech-bubble::after {
  content: '';
  position: absolute;
  bottom: -16px;
  left: 0;
  border-width: 1em;
  border-left-color: rgba(255, 255, 255, 0.753);
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-style: solid;
  transform: rotate(225deg);
}

header > article > h1 {
  margin-bottom: -0.5rem;
}

.face-pic {
  display: flex;
  width: 12rem;
  height: auto;
  border-radius: 0.3rem;
  margin-top: 6rem;
  margin-left: 7rem;
  margin-bottom: 5rem;
}

.four-image-section {
  display: flex;
  background-image: url(./images/space.png);
  justify-content: center;
  list-style: none;
  padding: 1rem;
  margin-top: -1rem;
}

.four-image {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.bottom-half {
  display: flex;
  flex-direction: column;
  background-color: rgb(1, 10, 19);
  width: 56.4rem;
  position: absolute;
  margin-top: -1rem;
  top: 37rem;
}

.react-section {
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  background-color: rgba(255, 255, 255, 0.822);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 83%;
  align-content: center;
  position: relative;
  left: 6rem;
}

.react-header {
  display: flex;
  justify-content: center;
  background-image: url(./images/react.png);
  height: 5rem;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.react-article-header {
  display: flex;
  flex-direction: row;
}

.react-article-header > blockquote {
  position: relative;
  right: 1.5rem;
  top: 0.7rem;
}

.react-article {
  padding: 1rem;
}

.fizz-section {
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  background-color: rgba(255, 255, 255, 0.822);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 83%;
  align-content: center;
  position: relative;
  left: 6rem;
}

.fizz-header {
  display: flex;
  justify-content: center;
  background-image: url(./images/code.png);
  height: 5rem;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.fizz-article-header {
  display: flex;
  flex-direction: row;
}

.fizz-article-header > blockquote {
  position: relative;
  right: 1.5rem;
  top: 0.7rem;
}

.fizz-article {
  padding: 1rem;
}

article > footer {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(69, 117, 248);
  color: whitesmoke;
  padding: 1rem;
  border-radius: 0.4rem;
  width: 7rem;
  position: absolute;
  right: 1rem;
  bottom: -1rem;
}

.twitter-section {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.twitter-section > h2 {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  margin-top: 4rem;
}

.twitter-logo-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.twitter-logo {
  display: flex;
  padding: 0.75rem;
  justify-content: center;
  width: 4rem;
  border-radius: 50%;
}

.twitter-section > footer {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 11px;
}
